.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.logo-cat {
  position: absolute;
  width: 9%;
  height: 15%;
  left: 16%;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
}

.project_column {
  width: 33.33%;
  height: 100%;
}
