.app_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(191, 224, 153);
}

.project_input {
  font-size: x-large;
  font-weight: 00;
  background: #f9f9f9;
  color: rgb(100, 55, 13);
  border: 1px solid #dfe3e6;
  border-radius: 5px;
  padding: 1% 1%;
  margin-bottom: 1%;
  width: 100%;
}

.project_input::placeholder {
  color: rgb(100, 55, 13);
}

.app_header > form {
  width: 50%;
}
.project_form_bottom_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Project Status */
.status-container {
  width: 30%;
}

.project_status {
  font-size: large;
  font-weight: 600;
  border: 1px solid #999;
  background-color: rgb(232, 245, 232);
  color: rgb(100, 55, 13);
  border: rgb(100, 55, 13) 2px solid;
  border-radius: 5px;
  width: 40%;
  height: 100%;
  padding: 0 3%;
  cursor: pointer;
}

button {
  font-size: large;
  font-weight: 600;
  background-color: green;
  cursor: pointer;
}

.project_submit {
  color: white;
  border-radius: 5px;
  height: 50%;
  width: 50%;
  padding: 2% 5%;
}
